@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.signupSection{
    background-color:#f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sform{
    background-color: white;
    padding: 2rem;
    width: clamp(230px,80vw,350px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    font-family: 'Cairo', sans-serif;
    box-shadow: 0.5px 0.5px 12px 0.2px #e1e0e0;
}

.sform-intro{
    text-align: center;
}

/* .sform-icon-div{
  width: 50px; /* Adjust the size as needed */
  /* height: 50px;
  overflow: hidden;
  position: relative;
  border-radius: 50%; */


.sform-icon{
    font-size: 3.5rem;
    color: #4D62FD;
    border-radius: 50%;
    cursor: pointer;
}

.sform-prof-img{
    width: 60px;
    height: 60px;
    /* object-fit: cover;
    object-position: center center; */
}

.sform-icon:hover{
    filter:brightness(0.8);
}



.sform-title{
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.sform-subtitle{
    font-size: 0.95rem;
    color: rgb(143, 137, 137);
    margin-bottom: 15px;
    padding: 0;
}

.sform-fields{
    width: 100%;
}

.sform-fieldname{
    color: rgb(143, 137, 137);
}


.sform-field-input{
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid rgb(143, 137, 137);
    color: rgb(50, 48, 48);
    font-family: 'Cairo' , sans-serif;
    font-size: 1rem;
}

.sform-field-input-container{
    position: relative;
}

.sform-fieldIcon{
    position: absolute;
    bottom: 13px;
    right: 0;
    color: rgb(143, 137, 137);
}

.eye{
    bottom: 10px;
}

.sform-authAction{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: clamp(9.6px,3.3vw,14px);
    cursor: pointer;
    margin-bottom: 20px;
}

.sform-authAction:hover, .sform-authAction:focus{
    opacity: 0.85;
}

.sform-authAction-signup{
    color: rgb(143, 137, 137);
}

.sform-authAction-forgot{
    color: #4D62FD;
}

.sform-buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.sform-login-button{
    padding: clamp(5px,1.6vw,6.4px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D62FD;
    color: white;
    border: none;
    border-radius: 5px;
    min-width: 80px;
    font-size: clamp(13px,4.5vw,17.6px);
}

.sform-login-button:hover, .sform-login-button:focus{
    background-color: #4d61fdd5;
}


.sform-line-text-line {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 10px 0;
}
  
.or-text {
position: relative;
display: inline-block;
padding: 0 10px;
background-color: #fff;
z-index: 1;
color: #999;
}

.or-text::before,
.or-text::after {
content: '';
position: absolute;
top: 50%;
width: 65px;
height: 1px;
background-color: #ccc;
}

.or-text::before {
right: 100%;
}

.or-text::after {
left: 100%;
}

.sform-thirdPartyLogin{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.5rem;
}

.fb{
    color: #4867AA;
}

.twt{
    color: #000000;
}

.ic:hover, .ic:focus{
    border-bottom: 1px solid rgb(110, 106, 106);
}

.loadScreen{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}