@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.cr-homePage {
  display: flex;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
}

.cr-content {
  flex-grow: 1;
  /* background-color: #eff6f6; */
  background-color: white;
  margin-left: 240px;
}

.MainSb {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100vh;
  /* overflow-y: auto; */
}
